# Dependencies
node_modules/

# Database
db_data/
mongod.log
*.log

# Environment & System
.DS_Store
.env

# Build Outputs
dist/
build/

# Temporary / Debug
debug_export.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
